// colors pallete
$black:       #000000;
$red:         #FF0000;
$white:       #ffffff;
$night:       #121212;
$davys-gray:  #5A5A5A;
$Eerie-black: #191919;

// Dark variantions
$dark-red: #990000;

// transitions
$fast: 300ms;
$medium: 450ms;
$slow: 600ms;