.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 600px;
    box-sizing: border-box;

    &.ishome {
        margin-left: 140px;
        width: calc(100% - 140px);
    }
}

.carousel-inner {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    transition: transform 0.3s ease;
    cursor: grab;
}

.carousel-item {
    flex: 0 0 auto;
}